*{
    margin:20px;
    padding: 0;
}

body{
    background:rgb(219, 219, 219);
  
}
.container{
    background: rgb(129, 13, 129);
}
.main-button{
    margin-left: 70%;
}
button{
    margin-right: 20px;
}